billiard
celery[redis]
dj-database-url
Django==3.2.*
django-appconf
django-celery-beat
django-compressor
django-debug-toolbar
django-extensions
django-formtools
django-localflavor
django-mptt
django-recurrence
# python-social-auth
django-tastypie
django-tinymce
factory-boy
Faker
gunicorn
ipaddress
mimeparse
oauth2
olefile
Pillow
psycopg2-binary
pymongo
python-dateutil
python-digest
python-dotenv
python-mimeparse
python-openid
rcssmin
rjsmin
statsd
text-unidecode
requests
python-ldap