{% extends "html_base.html" %}
{% load breadcrumbs %}
{% block breadcrumbs %}
{% breadcrumb "{{ semester }}" %}
{% endblock breadcrumbs %}

{% block title %}{{ semester }}{% endblock title %}
{% block menu %}
  <li><a href="{% url courses:calendar semester.id %}">Calendar</a></li> 
  <li><a href="{% url courses:user_calendar semester.id %}">My Courses Calendar</a></li> 
  <li><a href="{% url courses:semester_list %}">Browse Semesters</a></li>
  
  {% if 'Admissions' in groups %}<li class="right"><a href="{% url admin:courses_course_changelist %}">Admin Courses</a></li>{% endif %}
{% endblock menu %}

{% block content %}
<section id="course-list">
  <h1>Courses for {{ semester }}</h1>
  <table class="table table-striped full-section table-hover">
    <thead>
      <tr>
	<th class="course-number">Number</th>
	<th class="course-section">Section</th>
	<th class="course-title">Title</th>
	<th class="course-times">Times</th>
	<th class="course-instructor">Instructor</th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
      <tr class="course-list-entry {% cycle 'even' 'odd' %}">
        <td class="course-number">{{ course.number }}</td>
        <td class="course-section">{{ course.section }}</td>
        <td class="course-title"><a href="{% url courses:overview course.id %}">{{ course.title }}</a></td>
        <td class="course-times">
          {% for event in course.schedule.all %}
            {{ event.readable|safe }}
          {% endfor %}
        </td>
        <td class="course-instructor">{{ course.faculty.all|join:", " }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock content %}
