{% extends "courses/course_base.html" %}
{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="{% url tinymce-js "NAME" %}"></script>
{% endblock extra_head %}

{% block course_content %}
<div id="course">
 <div id="submit-assignment">
    <form name="submit-assignment-form" method="post" action="{% url courses:submit_assignment assignment.id %}">
   <div class="notice">
     You may provide a file or a link.
     </div>
    <table>
    {{ form }}
    </table>
    {% csrf_token %}
   <input class="button" name="save" type="submit" value="save">
    </form>
  </div>
</div>
{% endblock course_content %}

