{% extends "courses/resource_base.html" %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_url "{{ course }}" courses:overview course.id %}
{% breadcrumb "Resources" %}
{% endblock breadcrumbs %}

{% block resource_content %}
<div id="resource-list">
    {% for resource in resources %}
    <div class="resource-overview">
	<div class="resource-title san-serif"><a href="{% url courses:resource_details resource.id %}">{{ resource.title }}</a></div>
     <div class="resource-description">
	{{ resource.description|safe|truncatewords_html:100 }}
      </div>
    </div>
    {% endfor %}
</div>
{% endblock resource_content %}

